Galactic\ Warfare/Assets/Sci-Fi\ Gun\ Sounds/
Galactic\ Warfare/Assets/Gun\ &\ Explosion\ Sounds/
Galactic\ Warfare/Assets/_Creepy_Cat/
Galactic\ Warfare/Assets/Protofactor/
Galactic\ Warfare/Assets/Sci-fi\ Weapons\ Arsenal/
