Galactic\ Warfare/Assets/Sci-Fi\ Gun\ Sounds/
Galactic\ Warfare/Assets/Gun\ &\ Explosion\ Sounds/
Galactic\ Warfare/Assets/_Creepy_Cat/
Galactic\ Warfare/Assets/Protofactor/
Galactic\ Warfare/Assets/Sci-fi\ Weapons\ Arsenal/
Galactic\ Warfare/Assets/Scenes/Maps/Map_01
Galactic\ Warfare/Assets/Scenes/Maps/Map_02
Galactic\ Warfare/Assets/Scenes/Maps/Map_03
Galactic\ Warfare/Assets/Scenes/Maps/Map_04
